<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./StyleSheet/Style.css">
    <link rel="shortcut icon" href="./Image/icons8-favorite-48.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Keep</title>
</head>

<body>
    <div class="mian w-full min-h-screen bg-zinc-900 text-white p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home...</a>
        <h1 class="text-4xl tracking-tighter px-10">
            <%=filename%>
        </h1>
        <p class="text-xl mt-2 font-light p-10">
            <%=filedata%>
        </p>
    </div>
    <script rel="script" src="./JavaScript/Script.js"></script>
</body>

</html>